$color_1: white;
$font_family_1: "Raleway";
$font_family_2: "Raleway",
sans-serif;
$background_color_1: white;
$background_color_2: black;
@import "https://fonts.googleapis.com/css?family=Raleway&display=swap";

/*Decorations*/


/*Heading*/


/*Main Content*/


/*Mobile view*/

body {
    padding: 0;
    margin: 0;
    background-image: url("https://hintergrundbilderhd.net/image/stadte/938/eiffelturm-beleuchtet-nacht-sehenswurdigkeiten.jpg");
    font-family: $font_family_1;
}

#heading-background {
    z-index: -1;
    position: absolute;
    top: 0%;
    background-color: $background_color_1;
    width: 100%;
    height: 25%;
    opacity: .5;
    box-shadow: 20px 20px 20px 20px white;
}

#background-lightness {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: $background_color_2;
    z-index: -999999;
    opacity: .4;
}

.header-caption {
    padding: 50px;
    font-family: $font_family_2;
    display: inline;
    >h2 {
        color: $color_1;
        text-align: center;
        font-size: 3rem;
        transform: translateY(10%);
        text-decoration: underline;
    }
    >.header-navbar {
        position: absolute;
        >a {
            color: $color_1;
            text-decoration: none;
            border-bottom: solid 1px rgba(255, 255, 255, 0);
            transition: border 500ms;
            font-size: 1.4rem;
            &:hover {
                border-bottom: solid 1px white;
                transition: border 500ms;
            }
        }
    }
    >a {
        position: absolute;
        left: 5px;
        text-decoration: none;
        color: $color_1;
        font-size: 1.5rem;
        border-bottom: solid 1px rgba(255, 255, 255, 0);
        transition-duration: 500ms;
        &:hover {
            border-bottom: solid 1px white;
            transition-duration: 500ms;
        }
    }
}

.main-caption {
    text-align: center;
    left: 50%;
    transform: translateY(80%);
    >p {
        color: $color_1;
        font-family: $font_family_2;
        font-size: 1.2rem;
        text-shadow: 2px 2px 20px white;
    }
}

.contact-caption {
    text-align: center;
    left: 50%;
    transform: translateY(70%);
    >h2 {
        color: $color_1;
        font-family: $font_family_2;
        font-size: 3rem;
        text-shadow: 2px 2px 20px white;
    }
    >p {
        color: $color_1;
        font-family: $font_family_2;
        font-size: 1.5rem;
        text-shadow: 2px 2px 20px white;
        >a {
            text-decoration: none;
            color: $color_1;
            font-family: $font_family_2;
            font-size: 1.5rem;
            text-shadow: 2px 2px 20px white;
            border-bottom: solid 1px rgba(255, 255, 255, 0);
            transition-duration: 500ms;
            &:hover {
                transition-duration: 500ms;
                border-bottom: solid 1px white;
            }
        }
    }
}

@media only screen and (max-width: 680px) {
    #heading-background {
        height: 10%;
    }
    .header-caption {
        >h2 {
            font-size: 1.5rem;
            transform: translateY(-20%);
        }
        >a {
            font-size: 1rem;
            left: 100%;
            transform: translateX(-100%);
        }
    }
    .main-caption {
        >p {
            transform: translateY(-200%);
            color: $color_1;
            font-family: $font_family_2;
            font-size: 1.4rem;
            text-shadow: 2px 2px 20px white;
        }
    }
}