@import "https://fonts.googleapis.com/css?family=Raleway&display=swap";
body {
    padding: 0;
    margin: 0;
    font-family: "Raleway";
    background-image: url('https://wallpaperplay.com/walls/full/c/8/6/77833.jpg');
    background-size: 1920px 980px;
}


/*Decorations*/

#heading-background {
    z-index: -1;
    position: absolute;
    top: 0%;
    background-color: white;
    width: 100%;
    height: 25%;
    opacity: .5;
    box-shadow: 20px 20px 20px 30px white;
}

#contact-background {
    z-index: -1;
    position: absolute;
    background-color: white;
    // left: 780px;
    // top: 325px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 360px;
    border-style: solid;
    border-color: gray;
    opacity: .5;
}


/*Heading*/

.header-caption {
    padding: 50px;
    font-family: "Raleway";
    display: inline;
    >h2 {
        color: black;
        text-align: center;
        font-size: 3rem;
        transform: translateY(50%);
        text-decoration: underline;
    }
    >.header-navbar {
        position: absolute;
        >a {
            color: black;
            text-decoration: none;
            border-bottom: solid 1px rgba(255, 255, 255, 0);
            transition: border 500ms;
            font-size: 1.4rem;
            &:hover {
                border-bottom: solid 1px black;
                transition: border 500ms;
            }
        }
    }
}


/*Contact caption*/

.main-caption {
    box-sizing: border-box;
    transform: translateY(40%);
    >.contact-caption {
        margin: 0 auto;
        width: 250px;
        text-align: center;
        >input[type=text],
        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            box-sizing: border-box;
            border: 1px solid white;
            text-align: center;
            transition-duration: 500ms;
            &:hover {
                transform: scale(1.05);
                transition-duration: 500ms;
            }
        }
        >input[type=submit] {
            transform: translateY(20%);
            font-size: 1rem;
            background: white;
            padding: 12px 20px;
            border-style: solid;
            border-radius: 10px;
            border-color: white;
            transition-duration: 500ms;
            &:hover {
                cursor: pointer;
                border-color: gray;
                background-color: gray;
                transition-duration: 500ms;
            }
            >a {
                text-decoration: none;
                color: black;
            }
        }
        >#message-input {
            width: 250px;
            height: 100px;
            color: gray;
            border: 1px solid white;
            transition-duration: 500ms;
            &:hover {
                transform: scale(1.05);
                transition-duration: 500ms;
            }
        }
    }
}

.footer-caption {
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 99.7%;
    color: black;
    text-align: center;
    background-color: gray;
    >ul {
        >li {
            padding: 10px;
            list-style-type: none;
            display: inline-block;
            font-family: "Raleway";
            text-align: center;
            >a {
                color: black;
                text-decoration: none;
                border-bottom: solid 1px rgba(0, 0, 0, 0);
                transition-duration: 500ms;
                &:hover {
                    border-bottom: solid 1px black;
                    transition-duration: 500ms;
                }
            }
        }
    }
}