$color_1: black;
$font_family_1: "Raleway";
$background_color_1: white;
$background_color_2: black;
$border_color_1: rgba(0, 0, 0, 0.171);
@import "https://fonts.googleapis.com/css?family=Raleway&display=swap";

/*Decorations*/


/*Header*/


/*Main*/

body {
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(to right, cyan, rgba(93, 188, 210, 1), cyan);
    font-family: $font_family_1;
}

#intro-background {
    z-index: -1;
    position: absolute;
    background-color: $background_color_1;
    left: 480px;
    top: 390px;
    width: 920px;
    height: 275px;
    border-style: solid;
    border-color: $border_color_1;
    opacity: .5;
}

#heading-background {
    z-index: -1;
    position: absolute;
    top: 0%;
    background-color: $background_color_2;
    width: 100%;
    height: 25%;
    opacity: .2;
    box-shadow: 20px 20px 20px 40px black;
}

.header-caption {
    padding: 50px;
    display: inline;
    >.header-navbar {
        position: absolute;
        >a {
            color: $color_1;
            text-decoration: none;
            border-bottom: solid 1px rgba(0, 0, 0, 0);
            transition: border 500ms;
            font-size: 1.4rem;
            &:hover {
                border-bottom: solid 1px black;
                transition: border 500ms;
            }
        }
    }
    >h2 {
        transform: translateY(80%);
        color: $color_1;
        text-align: center;
        font-size: 3rem;
        text-decoration: underline;
    }
}

.introduction {
    transform: translateY(10pc);
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 10pc;
    >.intro-heading {
        text-align: center;
    }
}

.main-caption {
    transform: translateY(10pc);
    text-align: center;
    >h3 {
        font-size: 1.5rem;
    }
    >.main-contactPersons {
        margin-top: 3pc;
    }
    >.main-openingtimes {
        margin-left: 500px;
        margin-right: 500px;
    }
    >.main-sendMail {
        text-decoration: none;
        color: $color_1;
        border-bottom: solid 1px rgba(0, 0, 0, 0);
        transition-duration: 500ms;
        text-decoration: none;
        color: $color_1;
        border-bottom: solid 1px rgba(0, 0, 0, 0);
        transition-duration: 500ms;
        &:hover {
            border-bottom: solid 1px black;
            transition-duration: 500ms;
            border-bottom: solid 1px black;
            transition-duration: 500ms;
        }
    }
    >.main-flyer {
        margin-bottom: 10%;
        text-decoration: none;
        color: $color_1;
        border-bottom: solid 1px rgba(0, 0, 0, 0);
        transition-duration: 500ms;
        &:hover {
            border-bottom: solid 1px black;
            transition-duration: 500ms;
        }
    }
}

@media only screen and (max-width: 1680px) {
    #intro-background {
        width: 680px;
        height: 340px;
    }
    .header-caption {
        >.header-navbar {
            transform: translateY(-70%);
        }
    }
}