$color_1: black;
$color_2: white;
$font_family_1: Verdana,
Geneva,
Tahoma,
sans-serif;
$font_family_2: Arial,
Helvetica,
sans-serif;
$background_color_1: gray;
$background_color_2: white;
$border_color_1: gray;
$border_color_2: white;

/*Heading*/

body {
    padding: 0;
    margin: 0;
    background-image: url("https://wallpapercave.com/wp/dcFwnop.jpg");
    min-height: 100%;
    width: 100%;
}

nav {
    background-color: $background_color_1;
    border-style: solid;
    border-radius: 10px;
    border-color: $border_color_1;
    >ul {
        text-align: center;
        >li {
            list-style-type: none;
            padding: 10px;
            display: inline-block;
            font-family: $font_family_1;
            >a {
                color: $color_1;
                text-decoration: none;
            }
        }
    }
}

.header {
    box-shadow: 10px 10px 30px 1px black;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-radius: 10px;
    border-color: $border_color_2;
    background-color: $background_color_2;
    width: 99.5%;
}

.greetings {
    left: 50%;
    transform: translate(-50%, -600%);
    font-family: $font_family_2;
    font-size: 2rem;
    text-decoration: underline;
    position: absolute;
}

.header-background {
    height: 365px;
    width: 99.5%;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    background-color: $background_color_2;
    opacity: .5;
}

.main-content {
    filter: blur(3px);
    z-index: -1;
    background-color: $background_color_2;
    opacity: .5;
    width: 99.5%;
    height: 30%;
    transform: translate(0px, 60px);
    border-style: solid;
    border-radius: 10px;
    border-color: $border_color_2;
}

.content-text-start {
    font-weight: bold;
    font-size: 20px;
}

.main-content-introduction-heading {
    width: 99.5%;
    transform: translate(10px, -230px);
    text-align: center;
    font-family: $font_family_1;
}

.main-content-introduction {
    width: 99.5%;
    transform: translate(10px, -225px);
    font-family: $font_family_1;
}

.main-content-highlights-heading {
    width: 99.5%;
    transform: translate(10px, -220px);
    text-align: center;
    font-family: $font_family_1;
}

.main-content-highlights {
    width: 99.5%;
    font-family: $font_family_1;
    transform: translate(10px, -215px);
}

.footer {
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 99.5%;
    color: $color_2;
    text-align: center;
    background-color: $background_color_1;
    >ul {
        >li {
            padding: 10px;
            list-style-type: none;
            display: inline-block;
            font-family: $font_family_1;
            text-align: center;
            >a {
                color: $color_1;
                text-decoration: none;
            }
        }
    }
}